<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Follow</title>
  </head>

  <body>
    <div class="container shadow-2 radius-3">
      <div class="center">
        <h1
          class="primary text-white radius-2 uppercase large-padding center-align"
        >
          Follow
        </h1>
        <div class="large-padding">
          <div class="radius-2 medium-padding card">
            <input
              type="url"
              id="url"
              class="shadow-4 radius-2 medium-padding card medium-text large-screen-3"
            />
            <br />
            <select
              id="verb"
              class="shadow-4 radius-4 large-padding large-text right"
            >
              <option value="GET">GET</option>
              <option value="PATCH">PATCH</option>
            </select>
          </div>
          <br />
          <div class="card">
            <hr />
          </div>
          <input
            type="text"
            name="username"
            id="username"
            class="shadow-4 radius-2 medium-padding card"
            placeholder="Username"
          />
          <input type="radio" name="follow" id="follow" />
          Follow <br />
          <input type="radio" name="follow" id="unfollow" />
          Unfollow <br />
          <input type="radio" name="follow" id="following" />
          Following <br />
          <input type="radio" name="follow" id="followers" />
          Followers <br />
          <div class="radius-2 medium-padding card">
            <button
              type="button"
              id="submit"
              class="radius-4 primary text-white center-align large-h-padding large-text"
            >
              Submit
            </button>
          </div>
        </div>
        <div class="primary large-padding">
          <span class="small-h-padding large-text white radius-2"
            >Response</span
          >
          <pre
            id="response"
            class="white shadow-4 radius-2 medium-padding card"
          ></pre>
        </div>
      </div>
    </div>
    <script>
      async function follow(URL, data) {
        const result = await sendData(
          'PATCH',
          URL,
          data,
          'json',
          localStorage.token
        );

        if (result) {
          if (result) {
            document.querySelector('#response').innerHTML = JSON.stringify(
              result,
              null,
              4
            );
          }
        }
      }

      async function unfollow(URL, data) {
        const result = await sendData(
          'PATCH',
          URL,
          data,
          'json',
          localStorage.token
        );

        if (result) {
          if (result) {
            document.querySelector('#response').innerHTML = JSON.stringify(
              result,
              null,
              4
            );
          }
        }
      }

      async function followers(URL) {
        let result = await getData(URL, 'json', localStorage.token);

        if (result) {
          document.querySelector('#response').innerHTML = JSON.stringify(
            result,
            null,
            4
          );
        }
      }

      async function following(URL) {
        let result = await getData(URL, 'json', localStorage.token);

        if (result) {
          document.querySelector('#response').innerHTML = JSON.stringify(
            result,
            null,
            4
          );
        }
      }
      window.document.addEventListener('click', () => {
        const username = document.querySelector('#username').value;
        if (document.querySelector('#follow').checked) {
          document.querySelector(
            '#url'
          ).value = `${HOST}/api/v1/users/${username}/follow`;
          document.querySelector('#verb').value = 'PATCH';
        }
        if (document.querySelector('#unfollow').checked) {
          document.querySelector(
            '#url'
          ).value = `${HOST}/api/v1/users/${username}/unfollow`;
          document.querySelector('#verb').value = 'PATCH';
        }
        if (document.querySelector('#following').checked) {
          document.querySelector(
            '#url'
          ).value = `${HOST}/api/v1/users/following`;
          document.querySelector('#verb').value = 'GET';
        }
        if (document.querySelector('#followers').checked) {
          document.querySelector(
            '#url'
          ).value = `${HOST}/api/v1/users/followers`;
          document.querySelector('#verb').value = 'GET';
        }
      });
      window.document.addEventListener('DOMContentLoaded', () => {
        if (document.querySelector('#url')) {
          document.querySelector(
            '#url'
          ).value = `${HOST}/api/v1/users/followers`;
        }
        document.querySelector('#submit').onclick = async e => {
          startLoadingButton();
          document.querySelector('#response').innerHTML = '';
          const URL = document.querySelector('#url').value;
          const verb = document.querySelector('#verb').value;

          switch (verb) {
            case 'PATCH':
              console.log(URL);
              await follow(URL);
              break;
            case 'POST':
              await create(URL, user);
              break;
            case 'DELETE':
              await remove(URL);
              break;
            default:
              await followers(URL);
              break;
          }
          endLoadingButton();
        };
      });
    </script>
    <script src="../js/index.js"></script>
  </body>
</html>
