<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mockups - Authors Haven</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <!-- header -->
    <header class="fixheader black shadow-3" data-page="Inbox">
      <div class="container">
        <div class="row  center-align">
          <div class="small-screen-2 medium-screen-4 large-screen-4">
            <br />
            <div class="large-text text-white bold xxl-text">
              MOCKUPS
            </div>
            <br />
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <br />
    <!-- register -->
    <section>
      <div class="container">
        <div class="xxl-v-padding">
          <!-- <h1 class="center-align">Register new user</h1> -->
        </div>
        <div class="clear"></div>
        <div class="card">
          <div class="image">
            <img
              src="../images/mockup_placeholder.jpg"
              class="radius-4 shadow-5"
              alt="Authors"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
