$xsmall: 5px;
$small: 12px;
$medium: 16px;
$large: 24px;
$xlarge: 32px;
$xxlarge: 40px;

// font text size

.xxlarge-text{font-size: $xxlarge}
.xlarge-text{font-size: $xlarge}
.large-text{font-size: $large}
.medium-text{font-size: $medium}
.small-text{font-size:$small}