// rounds
.radius-1{border-radius: $xsmall }
.radius-2{border-radius:($xsmall * 2) }
.radius-3{border-radius: ($xsmall * 3) }
.radius-4{border-radius: ($xsmall * 4) }
.radius-5{border-radius: ($xsmall * 6) }
.radius-6{border-radius: 50%}