
/* shadow */

.shadow-1{box-shadow: 0 0 $xsmall rgba(0,0,0,0.2)}
.shadow-2{box-shadow: 0 0 ($xsmall * 2) rgba(0,0,0,0.2)}
.shadow-3{box-shadow: 0 0 $small rgba(0,0,0,0.2)}
.shadow-4{box-shadow: 0 0 $medium rgba(0,0,0,0.2)}
.shadow-5{box-shadow: 0 0 $large rgba(0,0,0,0.5)}